<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/comments" method="POST" name="commentPost">
        <input type="text" name="username" placeholder="username">
        <br>
        <textarea name="comment" id="" cols="25" rows="5" placeholder="Write your comment here"></textarea>
        <button>Submit</button>
    </form>

    <h2>Comments</h2>
    <ul>
        <% for( let c of allComms ) { %>
            <li> <%= c.comment %> <b> - <%= c.username %> - <%= c.id %> </b> <a href="/comments/:<%= c.id %>"> show comment</a> </li>
        <% } %>
    </ul>
 
</body>
</html>