<%- include('partials/head') %> 

<%- include ('partials/navbar') %> 
<body>
    
<p>this is where we show the details</p>


 <script src="/bootstrap/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>